@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ioSTUDIOS Developer Test</h1>
    <p class="lead">Welcome to the ioSTUDIOS Developer Test</p>
    <p><a asp-controller="Home" asp-action="ReadMe" class="btn btn-primary btn-lg">Read Me</a></p>
</div>

