@{
    ViewBag.Title = "Read Me";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <h5 class="card-header">Migrations</h5>
                <div class="card-body">
                    <p class="card-text">
                        This project uses code first migrations to create the database as part of this test you will be asked to make changes to the database.
                        To do this you must open <b>Package Manager Console</b> within Visual Studio and run the following command:
                    </p>
                    <p class="card-text">
                        <i>add-migration -name {{migrationName}}</i>
                    </p>
                </div>
            </div>
        </div>
    </div>



</div>

